[submodule ".vim/bundle/syntastic"]
	path = .vim/bundle/syntastic
	url = git@github.com:leouieda/syntastic.git
[submodule ".vim/bundle/nerdcommenter"]
	path = .vim/bundle/nerdcommenter
	url = git@github.com:leouieda/nerdcommenter.git
[submodule ".oh-my-zsh"]
	path = .oh-my-zsh
	url = git@github.com:leouieda/oh-my-zsh.git
