[submodule ".vim/bundle/syntastic"]
	path = .vim/bundle/syntastic
	url = git@github.com:leouieda/syntastic.git
[submodule ".vim/bundle/nerdcommenter"]
	path = .vim/bundle/nerdcommenter
	url = git@github.com:leouieda/nerdcommenter.git
[submodule ".oh-my-zsh"]
	path = .oh-my-zsh
	url = git@github.com:leouieda/oh-my-zsh.git
[submodule ".bash"]
	path = .bash
	url = git@github.com:leouieda/bash-git-prompt.git
[submodule ".vim/bundle/jedi-vim"]
	path = .vim/bundle/jedi-vim
	url = git@github.com:davidhalter/jedi-vim.git
[submodule ".local/share/vlc/lua/extensions"]
	path = .local/share/vlc/lua/extensions
	url = git@github.com:leouieda/vlsub.git
