[user]
    name = Leonardo Uieda
    email = leouieda@gmail.com
[github]
    user = leouieda
[color]
    ui = true
[core]
    editor = vim
[push]
    default = upstream
[merge]
    tool = meld
[difftool.latex]
    cmd = latexdiff "$LOCAL" "$REMOTE"
[alias]
    ldiff = difftool -y -t latex
