"*":
  core:
    audioBeep: false
    autoHideMenuBar: true
  editor:
    backUpBeforeSaving: true
    invisibles: {}
    showIndentGuide: true
    tabLength: 4
  "exception-reporting":
    userId: "0af629b9-8682-6356-57f5-e49a6e5e5f48"
  "status-bar": {}
  "tree-view":
    hideVcsIgnoredFiles: true
    squashDirectoryNames: true
  welcome:
    showOnStartup: false
